/* start main roles */

/* start main roles */
body {
    background-color: #f4f4f4;
    font-size: 16px;
}

/* end main roles */

/* start login form */
.login {
    width: 300px;
    margin: 100px auto;
}

.login input {
    margin-bottom: 10px;
}

.login .form-control {
    background-color: #fafafa;
}

.login .btn {
    background-color: #008dde;
}

/* end login form */

/* START bootstrap edit */
/****************************************************************/
/*start dashboard style*/
.home-stats .status
{
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 15px;
}

.home-stats .status span
{
    display: block;
    font-size: 50px;
}

.latest
{
    margin-top: 30px    ;
}
/*end dashboard style*/